{% extends 'provider/base.html' %}
{% block content %}

<div class="ui main container">
  <h1 class="ui header">Hi Provider! Welcome to DSN</h1>
  <p></p>
  <p>
    Your Ethereum Address  : <span id="provider-address"></span>
  </p>
  <p>
    Your Ethereum Balance  : <span id="provider-balance"></span>
  </p>

  <div class="ui segment" id="new-provider">
    <div class="ui active inverted dimmer">
      <div class="ui text loader">Loading</div>
    </div>
    <p></p>
  </div>

  <div id="new-provider-form" style="display: none;">
    <form class="ui form">
      <h4 class="ui dividing header">Join as a provider</h4>
      <div class="field">
        <label>Storage Rate (in per GB per day)</label>
        <div class="fields">
            <input name="rate" placeholder="Rate" type="number">
        </div>
        <label>Storage Available (in Bytes)</label>
        <div class="fields">
            <input name="size" placeholder="Size" type="number" id="new-provider-size">
        </div>
  <!--       <label>Absolute Directory Path</label>
        <div class="fields">
            <input name="path" placeholder="/home/nikhil96sher/" type="text" id="new-provider-path">
        </div>
   -->      <input type="hidden" name="adds" id="new-provider-address">
      </div>
      <div class="ui submit button" tabindex="0">Submit Joining Request</div>
    </form>
  </div>

  <div id="new-provider-verifying" style="display: none;">
    <p>
      Data is being generated and verified. Kindly wait.
    </p>
  </div>

  <div id="old-provider" style="display: none;">
    <p>Available Storage Tokens : <span id="token-value"></span></p>
    <p>No. of contracts : <span id="contract-count"></span></p>

    <table class="ui celled table" id="provider-contracts">
      <thead>
        <tr>
        <th>Provider</th>
        <th>Client</th>
        <th>Num of Tokens</th>
        <th>Rate</th>
        <th>Expiry Time</th>
        <th>Last Verification Time</th>
        <th>Revoke</th>
      </tr></thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">

var abi, contractAddress, contract, account;

$('.ui.form .submit.button').api({
    url: '{{ base_contract_address }}/seed',
    method : 'GET',
    serializeForm: true,
    onSuccess: function(data) {
      size = $('#new-provider-size').val();
      $.post("/generate_data/"+account+"/", { 'seed' : data['seed'], 'size' : size}, function(result) {
        console.log(result);
      });
      $('#new-provider-form').css('display','none');
      $('#new-provider-verifying').css('display','block');
      setTimeout(function() {
        location.reload();
      }, 5000);
    }
});

function loadProviderData(contract,account,provider,sToken)
{
  $('#token-value').html(sToken);
  var result = contract.getProviderServiceCount.call(account).valueOf();
  console.log("NO OF SERVICES : ",result);
  // $('#contract-count').html(result);
  var actualResult = 0;
  for(var j=0;j<result;j++)
  {
    output = contract.getServiceByAddressPosition.call(account,j).valueOf();
    console.log(output);
    var outputString = "<tr>";
    for(var i=0;i<output.length;i++)
    {
      outputString = outputString + '<td>' + output[i].valueOf() + '</td>';
    }
    outputString += '<td><button class="negative ui icon button" onclick="revokeService(\''+j+'\')"><i class="times icon"></i></button></td>';
    outputString += '</tr>';
    if(output[0] != '0x0000000000000000000000000000000000000000')
    {
      actualResult += 1;
      $('#provider-contracts tbody').append(outputString);
    }
  }
  $('#contract-count').html(actualResult);
}

function revokeService(position)
{
  contract.revokeService(position,{gas: 4100000, from: account});
  location.reload();
}

function initializeData(contract,account)
{
  var result = contract.getProviderByAddress.call(account).valueOf();
  var provider = result[0].valueOf();
  var sToken = result[1].valueOf();

  $.get({
    url : '/get_status/'+account+'/',
    success : function(response) {
      $('#new-provider').css('display','none');
      $('#new-provider-verifying').css('display','block');
      setTimeout(function() {
        location.reload();
      }, 5000);
    },
    error : function(response) {
      if(provider == 0)
      {
        $('#new-provider').css('display','none');
        $('#new-provider-form').css('display','block');
        $('#new-provider-address').val(account);
      }
      else
      {
        $('#new-provider').css('display','none');
        $('#old-provider').css('display','block');
        loadProviderData(contract,account,provider,sToken);
      }
    }
  });
}

function initializeWeb3(contract)
{
  web3.eth.getAccounts(function(err, accs) {
    wtoE = web3.toWei(1,'ether');
    if(typeof accs !== 'undefined')
    {
      account  = accs[2];
      web3.eth.getBalance(account, function (error, result) {
        if (!error) {
          console.log(result);
          $('#provider-balance').html(web3.fromWei(result.valueOf()) + " ETH");
        };
      });
      $('#provider-address').html(account);
      initializeData(contract,account);
    }
    else
    {
      alert("CANNOT CONNECT TO RPC");
    }
  });
}

$(document).ready(function() {

  if (typeof web3 !== 'undefined') {
    console.warn("Using web3 detected from external source. If you find that your accounts don't appear or you have 0 MetaCoin, ensure you've configured that source properly. If using MetaMask, see the following link. Feel free to delete this warning. :) http://truffleframework.com/tutorials/truffle-and-metamask");
    window.web3 = new Web3(web3.currentProvider);
  } else {
    console.warn("No web3 detected. Falling back to http://localhost:8545. You should remove this fallback when you deploy live, as it's inherently insecure. Consider switching to Metamask for development. More info here: http://truffleframework.com/tutorials/truffle-and-metamask");
    window.web3 = new Web3(new Web3.providers.HttpProvider("{{ rpc_address }}"));
    console.log("CONNECTED");
  }

  console.log("TRYING CONTRACT");

  $.ajax({
    method : "GET",
    url : "{{ base_contract_address }}/contract",
    success : function(response) {
      console.log("ON SUCCESS");
      abi = response['abi'];
      contractAddress = response['address'];
      contract = web3.eth.contract(abi).at(contractAddress);
      initializeWeb3(contract);
    }
  });
});
</script>
{% endblock %}