<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">ETH ADDRESS: {{ selfAddress }}</h3>
        </div>
 
            {% for upload in uploads %}
                <ul class=entries>
                    <li><h2>{{ upload.file_path }}</h2>{{ upload.provider_url }}</li>
                    <li><h2>{{ upload.provider }}</h2>{{ upload.rate }}</li>
                    <li><h2>{{ upload.service_num }}</h2></li>
                </ul>
            {% else %}
                <ul class=entries>
                    <li><em>Unbelievable.  No Uploads here so far</em>
               </ul>
            {% endfor %}
        
            {% for provider in providerlist %}
                <ul class=entries>
                    <li><h2>{{ provider.provider }}</h2></li>
                    <li><h2>{{ provider.providerurl }}</h2></li>
                    <li><h2>{{ provider.size }}</h2></li>
                </ul>
            {% else %}
                <ul class=entries>
                    <li><em>Unbelievable.  No Provider here so far</em>
                </ul>
            {% endfor %}
        </ul>
 
    </div>
</body>
 
</html>